.blogCard {
  display: flex;
  gap: 6.9rem;
}

.blogCard img {
  height: 38rem;
  max-width: 65rem;
  width: 40vw;
  object-fit: cover;
  border-radius: 1rem;
}

.desc {
  max-width: 68rem;
  width: 60vw;
  height: 38rem;
  background-color: var(--black-alpha);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

.desc p {
  font-size: 2.8rem;
  color: var(--white);
}

.link {
  width: min-content;
}

.timestamp {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-blue);
}

@media screen and (max-width: 1400px) {
  .blogCard {
    flex-direction: column;
    gap: 2rem;
  }

  .blogCard img {
    width: 80vw;
  }

  .desc {
    width: 80vw;
    height: auto;
  }

  .desc p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 630px) {
  .blogCard h4 {
    text-align: center;
  }

  .desc {
    height: auto;
    align-items: center;
    gap: 3rem;
  }

  .desc p {
    text-align: center;
  }

  .timestamp {
    position: static;
    right: unset;
    bottom: 1rem;
  }
}
