.blogPost {
  position: relative;
}

.wrapper {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.wrapper img {
  border-radius: 1rem;
  max-width: 75rem;
  width: 40vw;
  height: 48rem;
  object-fit: cover !important;
}

.wrapper p {
  max-width: 78rem;
  width: 50vw;
  height: auto;
  font-size: 3rem;
  color: white;
}

.goBack {
  position: absolute;
  top: 10rem;
  left: 2rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--dark-blue);
  transition: 0.2s ease;
  z-index: 20;
  backdrop-filter: blur(2px);
}

.goBack:hover {
  color: var(--green-blue);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper p {
    width: 80vw;
    text-align: center;
  }

  .wrapper img {
    width: 80vw;
  }
}
