.offerWrapper {
  margin-top: 10rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 6.9rem;
}

@media screen and (max-width: 1600px) {
  .offerWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .offerWrapper {
    grid-template-columns: 1fr;
  }
}
