.topBar {
  position: relative;
  max-width: 140rem;
  width: 90vw;
  height: 65rem;
  border-radius: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.searchBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 1rem;
  right: 0;
}

.addNew {
  position: absolute;
  top: 1rem;
  left: 0;
}

.addNew button {
  cursor: pointer;
  color: var(--dark-blue);
  border: 0.2rem solid var(--green-blue);
  background-color: var(--dark-gray);
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;
  transition: 0.2s ease;
}

.addNew button:hover {
  border-color: var(--light-blue);
  color: var(--light-blue);
}

.addNew button:focus {
  outline: transparent;
  border-color: var(--light-blue);
  color: var(--light-blue) !important;
}

.searchBar input {
  border: 0.2rem solid var(--green-blue);
  background-color: var(--dark-gray);
  border-radius: 1rem;
  height: 6rem;
  transition: 0.2s ease;
}

.searchBar input:focus {
  outline: transparent;
  border-color: var(--light-blue);
  color: var(--light-blue) !important;
}

.searchBar input[type='text'] {
  max-width: 36rem;
  width: 60vw;
  color: var(--green-blue);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.searchBar input[type='text']::placeholder {
  color: var(--dark-blue);
}

.searchBar input[type='submit'] {
  color: var(--dark-blue);
  width: 6rem;
}

.searchBar input[type='submit']:hover {
  border-color: var(--light-blue);
  color: var(--light-blue) !important;
}

.innerWrapper {
  background-color: var(--black);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
  height: 86%;
  padding: 4rem;
}

.adminBlogCard,
.adminOfferCard,
.adminOrderCard {
  background-color: var(--black-alpha);
  padding-right: 2rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.adminBlogCard img,
.adminOfferCard img {
  width: 30rem;
  height: 10rem;
  object-fit: cover;
  border-right: 0.5rem solid var(--green-blue);
  border-radius: 1rem 0 0 1rem;
}

.adminBlogCard span,
.adminOfferCard span,
.adminOrderCard span {
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 700;
}

.price span {
  color: var(--green-blue);
}

.price {
  background-color: var(--black-alpha);
  width: 15rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.discounted {
  color: var(--dark-blue) !important;
  text-decoration: line-through;
}

.container {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

.adminOrderCard {
  padding: 2rem;
}

.adress {
  width: 65%;
  overflow-x: hidden;
  display: flex;
  gap: 1.5rem;
}

.adress span {
  font-size: 2rem;
}

.status {
  color: var(--dark-blue) !important;
  text-align: left;
  width: 20%;
}

.completed {
  color: var(--green-blue) !important;
}

@media screen and (max-width: 900px) {
  .details {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 620px) {
  .adminBlogCard,
  .adminOfferCard {
    flex-direction: column;
  }
}
