.marquee {
  width: 80vw;
  height: 25rem;
}

.marquee img {
  margin: 10rem;
  filter: grayscale(1);
  transition: 0.2s ease;
}

.marquee img:hover {
  filter: none;
}

.czarnojan {
  top: 50%;
  z-index: 100;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  animation: spin 1s infinite linear;
  position: absolute;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
