.profileOverview {
  margin-top: 12rem;
  display: flex;
  gap: 18rem;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  gap: 8rem;
}

.label {
  font-size: 3rem;
  color: white;
}

.label + * {
  color: var(--light-blue);
  font-size: 3.6rem;
  font-weight: 700;
}

.accountOperations {
  display: flex;
  gap: 2.5rem;
}

.profileImg {
  width: 30rem;
}

@media screen and (max-width: 1300px) {
  .profileOverview {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .innerWrapper {
    align-items: center;
  }
}

@media screen and (max-width: 850px) {
  .userInfo {
    flex-direction: column;
    text-align: center;
  }

  .accountOperations {
    flex-direction: column;
  }
}
