.profileOverview {
  margin-top: 12rem;
  display: flex;
  gap: 18rem;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.userInfo {
  display: flex;
  gap: 8rem;
}

.label {
  font-size: 3rem;
  color: white;
}

.label + * {
  color: var(--light-blue);
  font-size: 3.6rem;
  font-weight: 700;
}

.accountOperations {
  display: flex;
  gap: 2.5rem;
}
