nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.nav {
  background-color: var(--black);
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navLink {
  position: relative;
  font-size: 3rem !important;
  color: var(--medium-gray);
  transition: 0.2s ease;
}

.navLink:hover {
  color: var(--white);
}

.navLink::after {
  border-radius: 10rem;
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.4rem;
  bottom: -0.5rem;
  left: 0;
  background: var(--gradient);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.navLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
